{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
    <a href="{{ path('reservation_index') }}" class="btn btn-link">Retourner à la liste des réservations</a>

    <h1>Ajouter une réservation</h1>

    {{ include('reservation/_form.html.twig',{'button_label': 'Ajouter'}) }}

{% endblock %}
