{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
<a href="{{ path('client_index') }}" class="btn btn-link">Retourner à la liste des clients</a>

    <h1>Ajouter un client</h1>

    {{ include('client/_form.html.twig', {'button_label': 'Ajouter'}) }}



{% endblock %}
